//
// named.conf | slave
//
// {{ ansible_managed }}
//
options {
	listen-on port 53 { {{ bind_listen_ipv4|join('; ') }}; };
	listen-on-v6 port 53 { {{ bind_listen_ipv6|join('; ') }}; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
{% if bind_allow_query|length > 0 %}
	allow-query       { {{ bind_allow_query|join('; ') }}; };
	allow-query-cache  { {{ bind_allow_query|join('; ') }}; };
{% endif %}
{% if bind_allow_transfer|length > 0 %}
	allow-transfer  { {{ bind_allow_transfer|join('; ') }}; };
{% endif %}

	recursion no;

	rrset-order { order {{ bind_rrset_order }}; };

	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside auto;

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "{{ bind_log }}";
                severity dynamic;
                print-time yes;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

{% set ips = [] %}
{% for bz in bind_zones %}
zone "{{ bz.bind_zone_name }}" IN {
        type slave;
        masters { {{ bind_zone_master_server_ip }}; };
        file "slaves/{{ bz.bind_zone_name }}";
};

{% if bz.bind_zone_networks is defined %}
{% for network in bz.bind_zone_networks %}
{% if network not in ips and bz.bind_zone_forwarders is not defined %}
{% set _ = ips.append(network) %}
zone "{{ network|reverse_lookup_zone }}" IN {
        type slave;
        masters { {{ bind_zone_master_server_ip }}; };
        file "slaves/{{ network|reverse_lookup_zone }}";
};

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

